.c-posts {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    padding: 5%;
    color: whitesmoke;
}
.c-posts__item {
    flex-grow: 1;
    padding-bottom: 2em;
}
.c-posts__item:first-child {
    flex-grow: 2;
}
@media (min-width: 600px) {
    .c-posts__item {
        flex-basis: 50%;
        padding-right: 5%;
    }
    .c-posts__item:first-child {
        flex-basis: 100%;
    }
}
@media (min-width: 1000px) {
    .c-posts__item {
        flex-basis: 33%;
    }
    .c-posts__item:first-child {
        flex-basis: 66%;
    }
}
@media (min-width: 1400px) {
    .c-posts__item {
        flex-basis: 25%;
    }
    .c-posts__item:first-child {
        flex-basis: 50%;
    }
}
/* Other Non-Flexbox Related Styles */
.c-header, .c-footer {
    background: #EDD382;
    text-align: center;
    padding: 2em;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.4em;
    font-weight: 300;
    line-height: 1.6em;
}
.c-header h1, .c-header h2, .c-header p, .c-footer h1, .c-footer h2, .c-footer p {
    max-width: 40em;
    margin: 0 auto;
}
.c-header h1:not(:last-child), .c-header h2:not(:last-child), .c-header p:not(:last-child), .c-footer h1:not(:last-child), .c-footer h2:not(:last-child), .c-footer p:not(:last-child) {
    margin-bottom: 1em;
}
.c-header h1, .c-footer h1 {
    text-transform: uppercase;
    font-weight: 900;
}
.c-header a, .c-footer a {
    color: #ffffff;
}
.c-footer p {
    font-weight: 300;
}
* {
    box-sizing: border-box;
}
body {
    font-family: 'Georgia', Times, serif;
    line-height: 1.6em;
    padding: 0;
    margin: 0;
}
h1 {
    font-size: calc(130% + 1vw);
    font-weight: normal;
}
h2 {
    font-size: 1.5em;
    font-weight: normal;
    margin-bottom: 0;
    margin-top: 0;
}
a {
    color: #0F5257;
}
.c-btn {
    color: white;
    display: inline-block;
    border-bottom: 4px solid white;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 900;
    letter-spacing: 0.1em;
    padding: 0.3em 0;
    position: relative;
    transition: 0.2s all;
}
.c-btn:before {
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    background: #FF521B;
    height: 0%;
    transition: 0.2s all;
    left: 0;
    z-index: -10;
}
.c-btn:hover {
    padding-left: 0.75em;
    padding-right: 0.75em;
    color: #fff;
    border-color: #FF521B;
}
.c-btn:hover:before {
    height: 100%;
}
