body {
    margin: 0;
    overflow-x: hidden;
}

.footer {
    background: #000;
    padding: 30px 0;
    font-family: 'Play', sans-serif;
    text-align: center;
}

.footer .row {
    width: 100%;
    margin: 1% 0;
    padding: 0.6% 0;
    color: gray;
    font-size: 0.8em;
}

.footer h4 {
    color: gray;
}

.footer .row a {
    text-decoration: none;
    color: gray;
    transition: 0.5s;
}

.footer .row a:hover {
    color: #fff;
}

.footer .row ul {
    width: 100%;
}

.footer .row ul li {
    display: inline-block;
    margin: 0 30px;
}

.social-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 8px;
}

.social-button {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
    width: 50px;
    height: 50px;
    text-decoration: none;
    border-radius: 100%;
    background: gray;
    text-align: center;
}

.social-button::after {
    content: '';
    position: absolute;
    top: -1px;
    left: 50%;
    display: block;
    width: 0;
    height: 0;
    border-radius: 100%;
    transition: 0.3s;
}

.social-button:focus, .social-button:hover {
    color: #fff;
    cursor: pointer;
}

.social-button:focus::after, .social-button:hover::after {
    width: calc(100% + 2px);
    height: calc(100% + 2px);
    overflow: hidden;
    margin-left: calc(-50% - 1px);
    background: linear-gradient(0deg, rgba(253, 45, 45, 1) 0%, rgb(255, 252, 0) 100%)
}

.social-button i, .social-button svg {
    position: relative;
    z-index: 1;
    transition: 0.3s;
}

.social-button i, .social-button svg {
    color: white;
}

.social-button i {
    font-size: 25.6px;
}

@media (max-width: 720px) {
    .footer {
        text-align: left;
        padding: 5%;
    }

    .footer .row ul li {
        display: block;
        margin: 10px 0;
        text-align: left;
    }

    .footer .row a i {
        margin: 0 3%;
    }
}