:root {
    --background-color: #0e112e;
}

.c-posts__header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 20px;
    font-size: large;
    font-weight: bold;
    color: white;
}

body {
    background: var(--background-color);
}

.header {
    margin-top: 0;
    padding-top: 0;
    top: 0;
    height: 100%;
}

.container {
    margin-top: 0;
}

@media screen and (min-width: 960px) {
    .container {
        padding-top: 20px;
    }
}


.header {
    background: linear-gradient(transparent 80px, var(--background-color)),
    url("../img/background.jpg") no-repeat top center;
    background-size: 100% 100%;
}