.wrapper {
    margin-top: 20px;
    margin-left: 20px;
}

.wrapper > button {
    display: block;
    width: 200px;
    height: 40px;
    line-height: 40px;
    font-size: 18px;
    font-family: sans-serif;
    text-decoration: none;
    color: #333;
    border: 2px solid #333;
    letter-spacing: 2px;
    text-align: center;
    position: relative;
    transition: all .35s;
}

.wrapper > button span {
    position: relative;
    z-index: 2;
}

.wrapper > button:after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #ff003b;
    transition: all .35s;
}

.wrapper > button:hover {
    color: #fff;
}

.wrapper > button:hover:after {
    width: 100%;
}


.pulse {
    display: block;
    margin-top: 20px;
    margin-left: 20px;
    width: 200px;
    height: 40px;
    background: #00ffd5;
}

.pulse:hover,
.pulse:focus {
    animation: pulse 1s;
    box-shadow: 0 0 0 2em #fff;
}

@keyframes pulse {
    0% {
        box-shadow: 0 0 0 0;
    }
}


.btn3 {
    display: inline-flex;
    margin-top: 20px;
    margin-left: 20px;
    width: 200px;
    height: 40px;
    align-items: center;
    background-color: #fff;
    border-radius: 12px;
    box-shadow: transparent 0 0 0 3px, rgba(18, 18, 18, .1) 0 6px 20px;
    box-sizing: border-box;
    color: #121212;
    flex: 1 1 auto;
    font-weight: 700;
    justify-content: center;
    outline: none;
    text-align: center;
    text-decoration: none;
    transition: box-shadow .2s, -webkit-box-shadow .2s;
    border: 0;
}

.btn3:hover {
    box-shadow: #121212 0 0 0 3px, transparent 0 0 0 0;
}


.btn4 {
    display: block;
    margin-top: 20px;
    margin-left: 20px;
    width: 200px;
    height: 40px;
    transition: .3s linear, color 0s, background-color 2s;
    font-size: 16px;
    border: 0;
}

.btn4:hover {
    background: #373B44;
    color: #fff;
}


.dropbtn {
    color: white;
    width: 25px;
    height: 25px;
    display: block;
    max-width: 100%;
    border: none;
}

.dropdown {
    position: relative;
    display: inline-block;
}


.dropdown__header {
    max-width: 100%;
    height: 40px;
    background: #9e15fc;
    border-radius: 20px 20px 0 0;
}

.dropdown__header > img {
    margin-top: 5px;
    margin-left: 10px;
    width: 25px;
    height: 25px;
}

.dropdown-content {
    display: none;
    position: absolute;
    top: -5px;
    left: -10px;
    background-color: #f1f1f1;
    min-width: 160px;
    z-index: 1;
    border-radius: 20px;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a * {
    display: inline-block;
}

.dropdown-content a p {
    height: 30px;
    width: 30px;
    text-align: center;
    vertical-align: center;
    background: #9e15fc;
    border-radius: 50%;
    margin-right: 10px;
}

.dropdown-content a:hover {
    background-color: #ddd;
    transform: scale(1.15);
    border-radius: 20px;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #5b37f3;
}


.cards {
    margin-top: 20px;
    margin-left: 20px;
    display: flex;
    flex-wrap: wrap;
    flex-flow: wrap;
    max-width: 700px;
    justify-content: space-between;
    transition-duration: 2s;
}

.card {
    border: 0;
    position: relative;
    overflow: hidden;
    width: 200px;
    height: 250px;
    display: block;
    margin-top: 20px;
}

.card::before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    background: linear-gradient(0deg, rgba(116, 253, 45, 1) 0%, rgba(34, 193, 195, 0.4515056022408963) 100%);;
    transition-property: all;
    transition-timing-function: ease-in;
    transition-duration: 0.3s;
    transform: translateY(100%);
}

.card:hover::before {
    content: '';
    transform: translateY(0);
}

.card__desc {
    position: absolute;
    transition-property: all;
    transition-duration: 1s;
    z-index: 5;
    left: 0;
    top: 0;
    padding-top: 50%;
    padding-left: 10%;
    width: 200px;
    height: 250px;
    opacity: 0;

}

.card__desc:hover {
    display: block;
    opacity: 1;
}

.card__desc .btn4 {
    left: 0;
    margin-left: 0;
    width: 100px;
    height: 30px;
    font-size: 12px;
}

.card__desc p {
    font-size: 12px;
}


.video-container {
    margin-top: 20px;
    margin-left: 80px;
    position: relative;
    display: block;
}

.video__description {
    position: absolute;
    transition-property: all;
    transition-duration: 1s;
    display: block;
    opacity: 0;
    width: 300px;
    height: 200px;
    background: black;
    font-size: 12px;
    text-align: center;
    color: white;
    top: 50px;
    left: -40px;
    padding-top: 20px;
}

.video__description:hover {
    opacity: 0.7;
}
